<%- model_class = UserVisit -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:iduser) %>:</strong></dt>
  <dd><%= @user_visit.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:idsite) %>:</strong></dt>
  <dd><%= @user_visit.places_interest_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dateVisit) %>:</strong></dt>
  <dd><%= @user_visit.dateVisit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ratig) %>:</strong></dt>
  <dd><%= @user_visit.ratig %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              user_visits_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_visit_path(@user_visit), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_visit_path(@user_visit),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
