<%= form_for @places_interest, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label "Nombre", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Dirección", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Horario", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :horary, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Descripción", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Clasificación", :class => 'control-label' %>
    <div class="controls">
      <%= f.select("clasification_id", Clasification.all.collect {|p| [p.id] }, {:prompt => 'Selecciona una Categoria'}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Imagen", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :urlImage, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Registras sitio", :class => 'btn btn-primary' %>
    <%= link_to "Cancelar",
                places_interests_path, :class => 'btn' %>
  </div>
<% end %>
