<h1><center><font color="white">Ven!!, Visita Chihuahua!!</font></center></h1>

    <div>
      <iframe width="420" height="315" src="http://www.youtube.com/embed/--GZO-1zx2c" frameborder="0" allowfullscreen></iframe>
      <iframe width="420" height="315" src="http://www.youtube.com/embed/oUCsM3fw4iM" frameborder="0" allowfullscreen></iframe>
    </div>
</br>
<% if current_user %>
    <% if (current_user.role == "Administrador") %>
        <center><%= link_to "Registra un nuevo Sitio",new_places_interest_path,:class => 'btn btn-primary' %></center>
    <%end%>
<%end%>
    <% @places_interests.each do |places_interest| %>

    <div align id="left" class="page-header">
        <h3 align ="left"><%= link_to places_interest.name,places_interest_path(places_interest) %></h3>

        <image align= "left"  height = "200" width = "200"  hspace = 30 src='<%=places_interest.urlImage%>'> </image>

          <div align = "justify"> <font size ="3"><%=places_interest.description %></div>

        <% if current_user %>
            <% if (current_user.role == "Administrador") %>

          <%= link_to "Editar",
                      edit_places_interest_path(places_interest), :class => 'btn btn-primary' %>
          <%= link_to "Eliminar",
                      places_interest_path(places_interest),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>

           <%end%>
        <% end %>

                </br>

     </div>

    <%end%>

<div align= "center">
  <%if current_user%>
      <% if (current_user.role != "Administrador") %>
  <p>Haz visitado un lugar que no se encuentra registrado con nosotros, Compartelo con los demas!!</p>
  <%= link_to "Registra tu Sitio",new_places_interest_path,:class => 'btn btn-primary' %>  </br></br>
  <%end%>
  <%end%>
</div>