<%- model_class = PlacesInterest -%>
<div class="page-header">
  <h1><center>Principales sitios Turisticos en Chihuahua</center></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <!--<th><%= model_class.human_attribute_name(:id) %></th>-->
      <th><%= model_class.human_attribute_name(:Nombre) %></th>
      
      
     <th><%= model_class.human_attribute_name("Imagen del Sitio") %></th>
      <!--<th><%= model_class.human_attribute_name(:popularity) %></th>-->
      <!--<th><%= model_class.human_attribute_name(:idClasification) %></th>
      <
      <th><%= model_class.human_attribute_name(:created_at) %></th>-->
      <th> Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @places_interests.each do |places_interest| %>
      <tr>
        
        <td><h2><%= places_interest.name %></h2></td>
        <td><image src='<%=places_interest.urlImage%>'>
        </td>
        <td><%= link_to "Ver Detalles", places_interest_path(places_interest) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_places_interest_path(places_interest), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      places_interest_path(places_interest),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Nuevo",
            new_places_interest_path,
            :class => 'btn btn-primary' %>
