
<div class="page-header"><h2>
  Califica tu visita a <%=@places_interest.name%>.
<%= form_tag( "/user_visits/" + @user_visit.id.to_s + "/edit", :method => "get") do %>
  <%=select("post",nil, [1,2,3,4,5], {:prompt => 'Seleccione calificacion'})%> 
  <%= submit_tag("Continuar", :class => 'btn btn-primary')%>
<%end%>
</h2></div>


<% @user.places_interests.each do |places_interest| %>
 <td><h3><%= places_interest.name %></h3></td>
<% end %>






