
 <div class="page-header">
  Evalua tu visita a <%=@places_interest.name%>.
</div>

<%= form_for @user_visit, :html => { :class => 'form-horizontal' } do |f| %>
<%= f.select :ratig, [1,2,3,4,5], :prompt => 'Seleccione' %>
 <%= f.submit nil, :class => 'btn btn-primary' %>

<% @user.places_interests.each do |places_interest| %>
 <td><h2><%= places_interest.name %></h2></td>
 
<% end %>

<% end %>




