<div class="page-header"><h2>
  Califica tu visita a <%=@places_interest.name%>.
<%= form_tag( "/user_visits/" + @user_visit.id.to_s + "/edit", :method => "get") do %>
  <%=select("post",nil, [1,2,3,4,5], {:prompt => 'Seleccione calificacion'})%> 
  <%= submit_tag("Continuar", :class => 'btn btn-primary')%>
<%end%>
</h2></div>


<table class="table table-striped">
  <thead>
    <tr>
    	
      <th>Sitio Visitado</th>      
    	  <th>Calificación</th>
       <th>Fecha de Visita</th>
    
    </tr>
  </thead>
  <tbody>
  	
    <% @user.user_visits.order('ratig desc').each do |places_interest| %>
      <tr>
        
        <td><h3><%=  PlacesInterest.find(places_interest.places_interest_id).name%></h2></td>
        <td><h3><%=places_interest.ratig%></h3>
        </td>
        <td><h3><%=places_interest.dateVisit%></h3>
        </td>
   
      </tr>
    <% end %>
  </tbody>
</table>





