<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  	<p>
    <h4><%= current_user.username %></h4>
    </p>
 
 
   <p>
     <b> Imagen: </b><br/>
     <%= f.file_field :pic%>
   </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
